chromadb
pyyaml
transformers
torch
xmltodict  
langchain  
sentence-transformers>=2.2.2
huggingface-hub        
tiktoken  
requests>=2.28.0
python-dotenv>=1.0.0
langchain-text-splitters
langchain-experimental