chromadb
pyyaml
transformers
torch
xmltodict  
langchain  
sentence-transformers
huggingface-hub        
tiktoken  
requests
python-dotenv
langchain-text-splitters
langchain-experimental
langchain-huggingface
openai
langchain-google-genai
langchain-anthropic
langchain-groq
langchain-openai
python-dotenv
javalang