chromadb>=0.4.24
pyyaml
transformers>=4.36.2
torch>=2.1.0
xmltodict
sentence-transformers>=2.2.2
huggingface-hub>=0.20.3
tiktoken
requests
python-dotenv
langchain>=0.1.16
langchain-huggingface>=0.0.6
langchain-google-genai>=0.0.10
langchain-anthropic>=0.1.7
langchain-openai>=0.1.7
javalang
protobuf<=3.20.3